<a href="https://colab.research.google.com/github/mkap007/Python_For_Geospatial_Analysis/blob/main/Python_for_Geospatial_data_analysis_assignment1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [3]:
def rev (list2):
  revlist = list2 [:: -1]
  return revlist


list1 = [1, 2, 3, 4, 5,'A', 'B', 'C', 'D']
print (rev(list1))

['D', 'C', 'B', 'A', 5, 4, 3, 2, 1]

In [17]:
list1 = [1, 2, 3, 4, 5]
list2 = ['A', 'B', 'C', 'D']
flist =list1 + list2
print (flist)

list1.extend(list2)
print (list1)

[1, 2, 3, 4, 5, 'A', 'B', 'C', 'D']
[1, 2, 3, 4, 5, 'A', 'B', 'C', 'D']

In [16]:
list1 = [10, 20, 30, 40, 50, 2, 23]
sum_list = sum(list1)
print(sum_list)

max_list = max(list1)
print(max_list)

list1.sort()
second_largest = list1 [-2]
print(second_largest)

print (list1 [0])

len1 = len(list1)
print (len1)

175
50
40
2
7

In [27]:
county = ['India', 'Egypt', 'Turkey', 'Japan', 'Norway', 'Iceland', 'Australia']

asc_count = sorted (county)
print ("Country names in Ascending order: ", asc_count)

desc_count = sorted (county, reverse = True)
print ("Country names in Descending order: ", desc_count)

county2 = ['USA', 'Russia', 'China']
comb_count = county + county2
print("Combined Country names: ", comb_count)

county2.append("UAE")
print ("Appending a country name to country2 list: ", county2)

Country names in Ascending order:  ['Australia', 'Egypt', 'Iceland', 'India', 'Japan', 'Norway', 'Turkey']
Country names in Descending order:  ['Turkey', 'Norway', 'Japan', 'India', 'Iceland', 'Egypt', 'Australia']
Combined Country names:  ['India', 'Egypt', 'Turkey', 'Japan', 'Norway', 'Iceland', 'Australia', 'USA', 'Russia', 'China']
Appending a country name to country2 list:  ['USA', 'Russia', 'China', 'UAE']

In [37]:
l1 = [1, 2, 3, 4, 5]
print (f'List 1 is : {l1}')

l2 = [13, 5, 7, 9, 11, 12]
#result1 = l2*2.5
#print(result1)
try:
    result = l2 * 2.5
except TypeError:
    print("Error: You can't multiply a list by a float.")

result = l2 * 3
print(f'Result of multiplying List 2 by 3: {result}')

List 1 is : [1, 2, 3, 4, 5]
Error: You can't multiply a list by a float.
Result of multiplying List 2 by 3: [13, 5, 7, 9, 11, 12, 13, 5, 7, 9, 11, 12, 13, 5, 7, 9, 11, 12]

In [42]:
# Import the numpy library
import numpy as np

# Create a 1-D array using a list
arr1 = np.array([1, 2, 3, 4, 5])
print(f'Array 1: {arr1}')

# Multiply each element with 2.5
arr1 = array1 * 2.5
print(f'Array 1 after multiplication: {arr1}')

# Create a 1-D array with the elements (1, 'abc', True)
arr2 = np.array([1, 'abc', True])
print(f'Array 2: {arr2}')

# Create 2 lists with elements (1,2,3) and (4,5,6) and perform addition

list1 = [1, 2, 3]
list2 = [4, 5, 6]

list_add = []

for i in range(len(list1)):
    list_add.append(list1[i] + list2[i])

# Print the result
print('Result of list addition:', list_add)


# Convert the above lists to Array and perform addition.
arr3 = np.array(list1)
arr4 = np.array(list2)
arr_add = arr3 + arr4
print(f'Result of array addition: {arr_add}')

# Create an array with 4 elements filled with zeros
zeros = np.zeros(4)
print(f'Array of zeros: {zeros}')

# Create an array with values from 0 to 6
arr5 = np.arange(7)
print(f'Array from 0 to 6: {arr5}')

# Create an array that starts from the integer 1, ends at 20, incremented by 3
arr6 = np.arange(1, 20, 3)
print(f'Array from 1 to 20 with step 3: {arr6}')

# Create an array using np.arange(1, 20, 3, dtype=float)
arr7 = np.arange(1, 20, 3, dtype=float)
print(f'Array from 1 to 20 with step 3 (float): {arr7}')

# Create an empty numpy array
empty_arr = np.empty((0))
print(f'Empty array: {empty_arr}')

# Create a 2D array
arr_2d = np.array([[1, 2, 3], [4, 5, 6]])
print(f'2D array: \n{arr_2d}')

Array 1: [1 2 3 4 5]
Array 1 after multiplication: [ 6.25 12.5  18.75 25.   31.25]
Array 2: ['1' 'abc' 'True']
Result of list addition: [5, 7, 9]
Result of array addition: [5 7 9]
Array of zeros: [0. 0. 0. 0.]
Array from 0 to 6: [0 1 2 3 4 5 6]
Array from 1 to 20 with step 3: [ 1  4  7 10 13 16 19]
Array from 1 to 20 with step 3 (float): [ 1.  4.  7. 10. 13. 16. 19.]
Empty array: []
2D array:
[[1 2 3]
 [4 5 6]]